In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [12]:
df1 = pd.read_clipboard()

In [13]:
df1

    Format     Type          Data     Description        Reader     Writer
0     text      CSV      read_csv          to_csv          None       None
1     text     JSON     read_json         to_json          None       None
2     text     HTML     read_html         to_html          None       None
3     text    Local     clipboard  read_clipboard  to_clipboard       None
4   binary       MS         Excel      read_excel      to_excel       None
5   binary     HDF5        Format        read_hdf        to_hdf       None
6   binary  Feather        Format    read_feather    to_feather       None
7   binary  Msgpack  read_msgpack      to_msgpack          None       None
8   binary    Stata    read_stata        to_stata          None       None
9   binary      SAS      read_sas            None          None       None
10  binary   Python        Pickle          Format   read_pickle  to_pickle
11     SQL      SQL      read_sql          to_sql          None       None
12     SQL   Google           Big           Query      read_gbq     to_gbq

In [10]:
df1.to_clipboard()

In [14]:
df1.to_csv('df1.csv')

In [15]:
ls

 驱动器 D 中的卷没有标签。
 卷的序列号是 0F86-0FF6

 D:\jupyter_dir 的目录

2020/11/30  13:56    <DIR>          .
2020/11/30  13:56    <DIR>          ..
2020/11/30  13:46    <DIR>          .ipynb_checkpoints
2020/11/28  15:02             5,005 Array.ipynb
2020/11/28  16:03             9,116 Array的input和output.ipynb
2020/11/30  13:55             7,476 DataFrame IO.ipynb
2020/11/28  21:55            17,658 DataFrame.ipynb
2020/11/30  13:56               556 df1.csv
2020/11/28  15:58               168 one_array.npy
2020/11/28  21:18             8,679 Series.ipynb
2020/11/28  16:00               610 two_array.npz
2020/11/27  17:50               555 Untitled.ipynb
2020/11/28  15:57               187 x.pkl
2020/11/29  12:18             9,941 深入理解Series和DataFrame.ipynb
2020/11/28  15:36            16,531 数组与矩阵运算.ipynb
              12 个文件         76,482 字节
               3 个目录  6,423,601,152 可用字节

In [18]:
more df1.csv

In [20]:
df2 = pd.read_csv('df1.csv')

In [21]:
df2

,Unnamed: 0,Format,Type,Data,Description,Reader,Writer
0,0,text,CSV,read_csv,to_csv,NaN,NaN
1,1,text,JSON,read_json,to_json,NaN,NaN
2,2,text,HTML,read_html,to_html,NaN,NaN
3,3,text,Local,clipboard,read_clipboard,to_clipboard,NaN
4,4,binary,MS,Excel,read_excel,to_excel,NaN
5,5,binary,HDF5,Format,read_hdf,to_hdf,NaN
6,6,binary,Feather,Format,read_feather,to_feather,NaN
7,7,binary,Msgpack,read_msgpack,to_msgpack,NaN,NaN
8,8,binary,Stata,read_stata,to_stata,NaN,NaN
9,9,binary,SAS,read_sas,NaN,NaN,NaN
10,10,binary,Python,Pickle,Format,read_pickle,to_pickle
11,11,SQL,SQL,read_sql,to_sql,NaN,NaN
12,12,SQL,Google,Big,Query,read_gbq,to_gbq

In [23]:
df1.to_html('df1.html')

In [24]:
df1.to_excel('df1.xlsx')