In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
pwd

'D:\\jupyter_dir'

In [3]:
ls

 驱动器 D 中的卷没有标签。
 卷的序列号是 0F86-0FF6

 D:\jupyter_dir 的目录

2020/11/30  14:03    <DIR>          .
2020/11/30  14:03    <DIR>          ..
2020/11/30  14:02    <DIR>          .ipynb_checkpoints
2020/11/28  15:02             5,005 Array.ipynb
2020/11/28  16:03             9,116 Array的input和output.ipynb
2020/11/30  14:01            16,497 DataFrame IO.ipynb
2020/11/28  21:55            17,658 DataFrame.ipynb
2020/11/30  13:56               556 df1.csv
2020/11/30  14:00             2,699 df1.html
2020/11/30  14:00             6,101 df1.xlsx
2020/11/28  15:58               168 one_array.npy
2020/11/30  14:03               555 Selecting and Indexing.ipynb
2020/11/28  21:18             8,679 Series.ipynb
2020/11/28  16:00               610 two_array.npz
2020/11/27  17:50               555 Untitled.ipynb
2020/11/28  15:57               187 x.pkl
2020/11/29  12:18             9,941 深入理解Series和DataFrame.ipynb
2020/11/28  15:36            16,531 数组与矩阵运算.ipynb
              15 个文件         94,858 字节
               3 个目录  6,423,527,424 可用字节

In [4]:
whereis movie_metadata.csv

SyntaxError: invalid syntax (<ipython-input-4-256e73671d4e>, line 1)

In [19]:
imdb = pd.read_csv('D:/jupyter_dir/homework/movie_metadata.csv')

In [22]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [23]:
imdb.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [26]:
imdb[['color','director_name']]

      color      director_name
0     Color      James Cameron
1     Color     Gore Verbinski
2     Color         Sam Mendes
3     Color  Christopher Nolan
4       NaN        Doug Walker
...     ...                ...
5038  Color        Scott Smith
5039  Color                NaN
5040  Color   Benjamin Roberds
5041  Color        Daniel Hsia
5042  Color           Jon Gunn

[5043 rows x 2 columns]

In [27]:
sub_df = imdb[['director_name','movie_title','imdb_score']]

In [30]:
sub_df.head(10)

,director_name,movie_title,imdb_score
0,James Cameron,Avatar,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,7.1
2,Sam Mendes,Spectre,6.8
3,Christopher Nolan,The Dark Knight Rises,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,7.1
5,Andrew Stanton,John Carter,6.6
6,Sam Raimi,Spider-Man 3,6.2
7,Nathan Greno,Tangled,7.8
8,Joss Whedon,Avengers: Age of Ultron,7.5
9,David Yates,Harry Potter and the Half-Blood Prince,7.5

In [39]:
tmp_df = sub_df.iloc[10:20,:]
tmp_df

       director_name                                   movie_title  imdb_score
10       Zack Snyder           Batman v Superman: Dawn of Justice          6.9
11      Bryan Singer                             Superman Returns          6.1
12      Marc Forster                            Quantum of Solace          6.7
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest          7.3
14    Gore Verbinski                              The Lone Ranger          6.5
15       Zack Snyder                                 Man of Steel          7.2
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian          6.6
17       Joss Whedon                                 The Avengers          8.1
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides          6.7
19  Barry Sonnenfeld                               Men in Black 3          6.8

In [40]:
tmp_df.iloc[2:4,:]

     director_name                                  movie_title  imdb_score
12    Marc Forster                           Quantum of Solace          6.7
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest          7.3

In [41]:
tmp_df.loc[14:16,'director_name']

14    Gore Verbinski
15       Zack Snyder
16    Andrew Adamson
Name: director_name, dtype: object

# ioc 和lioc存在区别 ioc使用的是label lioc使用的是index